**/target
dist
deps/libvirtcpuid/musl
deps/.deps-*
deps/criu/images/*.c
deps/criu/images/*.h
deps/criu/test/zdtm
deps/criu-image-streamer/criu-image-streamer
deps/set_ns_last_pid/set_ns_last_pid
deps/set_ns_last_pid/example_client
deps/gcsthin/gcsthin
deps/libvirtcpuid/lcd_mask/features_gen
tests
**/build
**/*.o
**/*.a
**/*.d
**/*.so
**/compel-host-bin
**/cscope.*
**/__pycache__
**/.gitid
**/.git
**/.github
